<p>
<%= @article.content %>
</p>
<%= link_to 'home', articles_path %>
<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'delete', article_path(@article),
    method: :delete,
    data: {confirm: "are you fucking sure?"} %>